/* My Colors
	red: #DA635D
	Abbey Blue: #4E4E56
	Blue: #5B9CA2
	Light Blue: #40879F
	Brown: #B1938B
	Creme Color/orange wafer: #DcD0C0
	creme: #FDF5E6
	text color: #5B9CA2
    d.blue: #197c9E;
*/


#about{
	padding:10px;
	color:#303030;
    font-family:'arial', sans-serif; 
    font-size: 18px;
}

 .slideshow {
  clear:both;
  margin-left: 10px;
  }


canvas {
border: solid 3px black;
margin-left: 25px;
 }
 

header{
	display:inline;
	
}


nav{
	display:inline;
	text-align: center;
	}

nav ul li{
	clear:both;
	display:inline-block;
	padding:15px;
	margin:2px;
	
}

nav li a{
    
	color:#4E4E56;
}

#sandwich{
	clear:both;
	background-color:#FDF5E6; 
}

#chart{
float:right;
position: absolute; top: 140px; right:230px;
	
}

#audio{
position: absolute; top: 708px; left:200px;
	
}

#audio2{
position: absolute; top: 710px; left:200px;
	
}

#infobox{
float:right;
margin-right:8px;
width:300px;
}

#infobox h3{
font-size:22px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

#infobox p{
font-size:18px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}


span{
	font-size:30px;
}

#head2 {
float:right;
position: absolute; top:146px; left:150px;
width:420px;
background-color:#FDF5E6;
padding:2px;
text-align: center;
}

#head2 p{
font-size:13px;
color:#303030;
font-family:'arial', sans-serif;
}

#head2 h3{
padding:2px;
}


#photo1{
	position:realtive; top: 50px; left:0px;
}

/*#head2 p{
	font-size: 30px;
	margin-top:40px;
    padding-top: 40px;
	margin-left: 75px;
}*/

.slice text {
            font-size: 14pt;
            
    }  
    
    
  .containerinfo {
  width: 80%;
  margin: 0 auto;
  height:600px;  
  background: #FDF5E6;
}
 
path {
  cursor: pointer;
  stroke: #ccc;
  stroke-width: 0px;
} 

#clear{
	clear:both;
}
/*toggle*/

 div#theDiv {
 float:right;
 width:314px;
 height: 190px;
 margin-right: 10px;
 margin-top: 10px;
 padding: 5px;
 background: #DcD0C0;
 border: 2px solid black;
 cursor: pointer;
   }
   
   
  #temp img{
 float:right;
 width:314px;
 height: 190px;
 margin-right: 10px;
 margin-top: 10px;
 padding: 5px;
 border: 2px solid black;
 z-index: -999;
   }

        
        
        p, span {
            font-size: 12pt;
            color:#303030;
        }
     
        #toggle {
       position:relative;
       top: -55px;
       left:66px;
       width:390px;
        color: #FDFDFD !important;
        font-size: 16px;
        padding: 5px 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 2px solid #B94629;
        background: #DA635D;
       
       
        }
  
  #toggle:hover {
    color: #000000 !important;
    background: #FDF5Ed;
}

      
                      
        #challenge{
	        float:left;
	        border: 4px solid black;
	        margin:12px 0 10px 5px;
	        width:596px;
	        height:190px;
        }
        
        
        /*menu prices*/
        
        
    
#menubox{
width:960px;
height:100%
}

#fadebtn{
	float:right;
	position: relative;
	top:16px;
	right: 20px;
	color: #FDFDFD !important;
        font-size: 14px;
        padding: 5px 5px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        border: 2px solid #B94629;
        background: #DA635D;
        z-index: 999;
}
 
 #fadebtn:hover {
    color: #000000 !important;
    background: #FDF5Ed;
}


/*trivia question - contact page*/
#slidebtn{
       color: #FDFDFD !important;
        font-size: 14px;
        padding: 5px 5px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        border: 2px solid #B94629;
        background: #DA635D;
        z-index: 999;
}


 #slidebtn:hover {
    color: #000000 !important;
    background: #FDF5Ed;
}


#slide{
	float:right;
	position: relative;
	top:-280px;
	right:0px;
	width:280px;
}

#trivia{
position: relative;
	top:-180px;
	left:650px;
	width:280px;
	height:170px;
	background-color:#5B9CA2;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
   border: 2px solid #B94629;	
}

#trivia p{
font-size:14px;
color:#000000;
font-family: arial;
padding:3px;
text-align: center;
}
